<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Employee dashboard
    </h1>
    
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3> {{employee.username| capitalize}} </h3>
        
            <!--Displaying user bio-->
            {% if employee.skill %}
            <p> {{employee.skill}}</p>
            {%else%}
            <p> {{employee.username| capitalize}} has no skill </p>
            {% endif %}
        </div>
        
        <!--Display profile photo-->
        <div class="col-md-4">
        
            {% if employee.profilepic_path %}
            <img src="{{url_for('static',filename=employee.profilepic_path)}}" alt="" class="img-thumbnail">
            {%else%}
            <p>No profile picture</p>
            {% endif %}
      </div>
    </div>
    </div>
    <div>
        <h1>{{employee.contact}}</h1>
        <h2>{{employee.experince}}</h2>
        <h2>{{employee.gender}}</h2>
    </div>

    <div class="container">
        <a href="/employeedashboard/{{employee.username}}/editprofile">Edit Profile</a>

    </div>
    <div class="well">

 
    <h3><a class="btn btn-primary btn-lg" href="/employeedashboard/{{ employee.id }}/postad" role="button">Make Job Ad</a></h3>
    </div>
    
</body>
</html>